.container {
    margin-top: 10px;
    padding: 11px 15px;
    width: 40vw;
    min-height: 50vh;
    border: solid white 1px;
    color: white;
}
.container * {
    font-size: 15pt;
    text-align: left;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 400;
}
.languageName {
    margin-left: 15px;
    font-size: 15pt;
    text-align: left;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 300;
}